body{
    background-color:#6728cc;
    color:rgb(252, 252, 252);
}

.container{
    align-items: center;
    display:flex;
    font-size: x-large;
    flex-direction: column;  
    justify-content:center;
    height: 500px;
    width: 500px;
    margin:auto;

    flex:1;
}

.container > .cake{
    display:flex;
    background-color: rgb(169, 39, 255);
    margin:50px;

    Flex:auto;
}

.container > .crepe{
    display:flex;
    background-color: rgb(169, 39, 255);
    margin:50px;

    Flex:auto;
}

.container > .apple{
    display:flex;
    background-color: rgb(169, 39, 255);
    margin:50px;

    Flex:auto;
}

p{
    font-size:x-large;
    display:flex;
    justify-content:center;
}

h2{
    font-size:xx-large;
}

li{
    font-size: larger;
}