body{
    background-color:#3c1777;
    color:rgb(252, 252, 252);
}

.recipie-container{
    display:flex;
    flex-direction: row;
    font-size: x-large;
    justify-content: flex-end;
    align-items: flex-end;
    height: 850px;
    width: auto;

    background-image: url(cheflink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex:1;
}

.recipie-container > .cake{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 39, 255);
    width:fit-content;
    height: 50px;
    padding: 30px;
    margin: 10px;

    Flex: 1;
}

.recipie-container > .crepe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 39, 255);
    width:fit-content;
    height:50px;
    padding:30px;
    margin: 10px;

    Flex: 1;
}

.recipie-container > .apple{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 39, 255);
    width:fit-content;
    height: 50px;
    padding: 30px;
    margin:10px;

    Flex: 1;
}

p{
    display: flex;
    font-size:x-large;
    justify-content:center;
}
h1{
    display: flex;
    font-size:xx-large;
    justify-content: center;
}
h2{
    font-size:xx-large;
}

li{
    font-size: larger;
}
.food-pic{
    display:flex;
    justify-content: center;
    align-items: center;
}
/*
I have just learned the importance/power of a properly labeled div container
*/